<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>{{ post.name }}</h1>
    <h2>Дата публикации: {{ post.date }}</h2>
    <div>{{ post.description }}</div>
    <button><a href="/posts/{{ post.id }}/update">Редактировать пост</a></button>
    <button><a href="/posts/{{ post.id }}/delete">Удалить пост</a></button>
    <hr>

{% endblock content %}
</body>
</html>