<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "main.html" %}

    {% block content %}
    <h2>Страница авторизованного пользователя {{request.user.username}}</h2>
    <button> <a href="sign/logout/">Выйти</a> </button>
    {% if is_not_author %}
    <button> <a href="sign/upgrade/"> Хочу стать автором!</a> </button>
    {% endif %}
    {% if is_author %}
    <button> <a href="posts/create/">Создать пост</a></button>
    {% endif %}
    {% if is_author %}
    <div> Мои посты </div>
    {% endif %}
    <hr>


    {% endblock %}
</body>
</html>
